@use "variables" as *;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: $fontsize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: $BG_dark;
}
