//font
$fontsize: 12pt;

// colors
$primary: #6ab8ff;
$secondary: #f2a65a;

$BG_dark: #0f1115;
$BG_elevated: #1a1d23;

$text_bg: #e4e7eb;
$text_primary: #0f1115;
$text_secondary: #0f1115;

$focus_ring_primary: #9dd6ff;
$focus_ring_secondary: #ffd6a8;

$hover_primary: #84c7ff;
$hover_secondary: #ffb974;

//spacing
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 1.5rem;

$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 1.5rem;

$line-height: 2rem;
$button-size: 3rem;

//breakpoints
$tablet_brkpts: 800px;
$desktop_brkpts: 1200px;
